/* 
   LARGE SCREENS (max-width: 1110px / 69.375rem)
   */
@media (max-width: 69.375rem) {
  html {
    font-size: 75%;
  }

  .hero {
    gap: 5rem;
  }

  .hero-h1 {
    font-size: 1.5rem;
  }
  .hero-title {
    font-size: 1.5rem;
  }

  .hero-img {
    max-width: 300px;
  }

  .hero-img img {
    width: 100%;
    height: auto;
  }

  .about-image img {
    max-width: 300px;
    width: 100%;
  }
  .reveal-line {
    font-size: 1rem;
  }
}

/* 
   TABLETS (max-width: 768px / 49rem)
   */
@media (max-width: 49rem) {
  html {
    font-size: 70%;
  }

  body {
    padding-top: 5rem;
  }

  /* NAVIGATION */
  .menu-toggle {
    display: flex;
  }


  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    transform: translateY(-1000px);
    width: 100%;
    background-color: var(--primary-color-dark);
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    transition: transform 1s ease-in-out;
    z-index: 1000;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    
  }

  .nav-links li {
    list-style: none;
  }

  .nav-links a {
    font-size: 1.5rem;
  }

  .nav-links a:hover {
    color: var(--accent-color);
    text-decoration: underline;
    background-color: transparent;
  }

  .nav-links.active {
    transform: translateY(0);
  }

  /* HERO SECTION */
  .hero-content {
    height: auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-btn {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1rem;
  }

  .hero-image {
    max-width: 200px;
  }

  .hero-image img {
    width: 100%;
    height: auto;
  }

  /* SERVICES SECTION */
  .services-container {
    grid-template-columns: 1fr;
  }

  /* ABOUT SECTION */
  .about-container {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    padding: 0 1rem;
    max-width: 100%;
  }

  .about-image img {
    max-width: 200px;
    width: 100%;
  }

  .about-text {
    max-width: 100%;
    text-align: center;
  }

  .reveal-line {
    font-size: 1rem;
    text-align: center;
    /* min-width: 100%; */
  }

  .about p:last-child {
    margin-bottom: 3rem;
  }

  /* PROJECTS SECTION */
  .floating-projects {
    gap: 1rem;
    max-width: 100%;
    padding: 0;
  }

  .project-card {
    max-width: 100%;
    padding: 1rem;
  }

  /* Contact section */
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 2rem 1rem;
    width: 100%;
  }

  .contact-info {
    width: 100%;
  }

  .contact-form {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    max-width: 800px;
  }

  .message-section {
    grid-column: 1 / 3;
  }

  form input,
  form textarea,
  form select {
    width: 100%;
    padding: 0.8rem;
    border-radius: 5px;
  }

  .contact-info h2 {
    font-size: 1.8rem;
  }

  /* FOOTER */
  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }
  .floating-orb {
    width: 120px;
    height: 120px;
  }
}

/* 
   MOBILE (max-width: 576px / 36rem)
   */
@media (max-width: 36rem) {
  html {
    font-size: 60%;
  }

  .wrapper {
    max-width: 100%;
  }

  /* HERO SECTION */
  .hero-h1 {
    font-size: 1.8rem;
  }

  .hero-btn {
    gap: 2rem;
  }

  .services h2,
  .projects h2,
  .about h2,
  .education h2,
  .contact h2 {
    font-size: 1.5rem;
  }

  .service-card h3,
  .project-card h3,
  .education-card h3 {
    font-size: 1.2rem;
  }

  .services-container,
  .education-container,
  .project-container {
    grid-template-columns: 1fr;
  }

  .project-card,
  .education-card {
    max-width: 100%;
  }

  .about-image img {
    max-width: 200px;
    width: 100%;
  }

  /* CONTACT SECTION — MOBILE VERSION */
  .contact {
    gap: 1.5rem;
    padding: 2rem 1rem;
  }

  .contact-info h2 {
    font-size: 1.5rem;
  }

  .center {
    gap: 0.5rem;
  }

  .contact-icon {
    width: 20px;
  }

  .form {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .message-section {
    grid-column: 1;
  }

  form input,
  form textarea,
  form select {
    width: 100%;
    padding: 0.8rem;
  }

  .hero-img {
    width: 300px;
    height: 300px;
  }

  .hero-img img {
    width: 100%;
    height: auto;
    margin-top: -15rem;
  }

  /* FOOTER */
  .footer-grid {
    grid-template-columns: 1fr;
  }

  .footer-section {
    margin-bottom: 2rem;
    text-align: center;
  }
}
