* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #14213d;
  --primary-color-light: #394867;
  --primary-color-dark: #0f1c2e;
  --secondary-color: #fca311;
  --secondary-color-dark: #e5a00d;
  --secondary-color-light: #ffba08;
  --light-color: #f8f8f8;
  --dark-color: #1c2237;
  --gray-dark-color: #333;
  --gray-color: #e5e5e5;
}

html {
  scroll-behavior: smooth;
  font-size: 1rem;
}

body {
  background: var(--light-color);
  color: var(--dark-color);
  line-height: 1.5;
  font-weight: 400;
}
.navbar-custom {
  background-color: #0f1c2e;
}

.navbar-custom .navbar-toggler-icon {
  color: white;
}

.navbar-custom .navbar-toggler {
  border-color: var(--light-color);
}

.btn-nav {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 20px;
  font-weight: 700;
  text-align: center;
}

a {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
.wrapper {
  max-width: 1300px;
  width: 95%;
  margin: 0 auto;
}

.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  font-weight: 700;
}

.btn-primary:link,
.btn-primary:visited {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.btn-primary:hover,
.btn-primary:active {
  color: var(--primary-color-dark);
  background-color: var(--secondary-color-dark);
  transform: scale(1.05);
}

.btn-tertiary:link,
.btn-tertiary:visited {
  color: var(--primary-color-dark);
  background-color: var(--light-color);
  border: 2px solid var(--gray-color);
}

.btn-tertiary:hover,
.btn-tertiary:active {
  background-color: var(--secondary-color-dark);
  color: var(--primary-color-dark);
  border: 2px solid var(--secondary-color-dark);
  transform: scale(1.05);
  box-shadow: 2px 2px 5px #494848;
}

/* HERO SECTION */
.hero {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  min-height: 700px;

  background: url(images/david-image-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--gray-dark-color);
  outline: none;
  position: relative;
  margin: 0 auto;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
}

.hero-text {
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--light-color);
  padding: 0 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.hero-h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  text-align: center;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  max-width: 600px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-weight: 400;
  text-align: center;
}

.hero-btn {
  display: flex;
  gap: 1rem;
  z-index: 2;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.hero h2 {
  font-weight: 700;
  color: var(--secondary-color-light);
  font-size: 2rem;
  margin-bottom: 2rem;
}
.highlight {
  font-style: oblique;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.highlight-primary {
  color: var(--secondary-color-light);
}


/* SERVICES SECTION */
.services {
  background: var(--gray-color);
  padding: 4rem 0;
  text-align: center;
  overflow: hidden; 
}

.services h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.services-container {
  display: flex;             
  gap: 2rem;
  white-space: nowrap;        
  will-change: transform;     
}

.service-card {
  display: flex;             
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex: 0 0 auto;             
  background: var(--light-color);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-width: 350px;           
}

.service-card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.service-card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}



/* ABOUT SECTION */
.about {
  padding: 4rem 0;
  text-align: center;
}

.about-container {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
}
.about-text {
  max-width: 400px;
  max-height: 400px;
  overflow: auto;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  text-align: center;
}
.about h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.about p {
  font-size: 1.2rem;
  margin: 0 auto 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--gray-dark-color);
  transition: color 0.3s ease;

  /* Gradient text setup */
  background: linear-gradient(
    90deg,
    var(--primary-color-dark),
    var(--secondary-color),
    var(--primary-color-light)
  );
  background-size: 200% auto;
  background-position: left center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.6;
}

.about p.active {
  background-position: right center; /* shift gradient when active */
  opacity: 1;
  transition: background-position 1s ease, opacity 0.5s ease;
}

.about p:last-child {
  margin-bottom: 0;
}
.about-image img {
  max-width: 400px;
  height: auto;
  width: 100%;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.about-image img:hover {
  transform: translateY(-10px) scale(1.05);
  
}
.about a {
  text-align: center;
}

/* PROJECTS SECTION */
.projects {
  background: var(--gray-color);
  padding: 4rem 0;
  text-align: center;
  width: 100%;
}
.projects h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
  width: 100%;
  padding: 0 1rem;
}
.project-card {
  background: var(--light-color);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 400px;
  height: 100%;
  padding: 1rem;
}
.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.project-card .project-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.project-card h3 {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: 700;
}
.project-card p {
  font-size: 1rem;
  color: var(--gray-dark-color);
  margin: 0 1rem 1rem 1rem;
  line-height: 1.5;
  font-weight: 400;
}

/* MY EDUCATION */
.education {
  padding: 4rem 0;
  text-align: center;
}
.education h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.education-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
.education-card {
  background: var(--light-color);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.education-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.education-card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
.education-card p {
  font-size: 1rem;
  color: var(--gray-dark-color);
  margin-bottom: 0.5rem;
  font-weight: 400;
}
.education-card span {
  display: block;
  font-size: 0.9rem;
  color: var(--secondary-color);
}

/* ====== CONTACT SECTION ====== */
.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  background-color: var(--gray-color);
  margin: 0 auto;
}

.contact-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-info h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-icon {
  width: 20px;
  display: inline-block;
}

.center {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.center p {
  font-size: 1rem;
  color: var(--gray-dark-color);
  margin-bottom: 0px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 300px;
  margin-top: 3rem;
}
form input {
  border-radius: 5px;
  padding: 1rem;
}

::placeholder {
  text-align: center;
  color: var(--gray-dark-color);
}

/* FOOTER */
footer {
  background: var(--primary-color-dark);
  color: var(--light-color);
  text-align: center;
  padding: 1rem 0;
}
footer p {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}
footer a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease;
}

footer a:hover {
  color: var(--light-color);
}

.social-links {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.social-links a {
  color: var(--light-color);
  transition: color 0.3s ease;
  font-size: 1rem;
  width: 30px;
}
